{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title>bootcamp | Sheriyans</title>
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'bootcamp.css' %}">
{% endblock css %}


{% block body %}
<div id="maindiv1">
    <div id="left">
        <h1 id="hmain">6 months In-House Bootcamp programme - Kodr</h1>
        <div id="start">
            <h2>Starts on: 23 dec, 2024</h2>
            <h2>Placement assistance <img src="https://cdn-icons-png.flaticon.com/128/1271/1271380.png" alt="" style="height:20px;width:20px"></h2>
        </div>
        <div id="pricediv">
         <p id="price" style="font-size:40px">Price <span style="color:rgb(35, 131, 142)">&#8377; 59000 </span>[50,000+80% GST]</p>
         <h2 id="seats">Seats are full</h2>
         </div>
        </div>
    <div id="right">
        <iframe width="696" height="391" src="https://www.youtube.com/embed/pOGLAlGCKFE" title="This Bootcamp Will Change Your Life: Kodr x Sheryians !" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</div>
<div id="const" style="margin-top: 5%;"><h1>We believe in, <span style="color:rgb(35, 131, 142)">consistency.</span> No shortcuts</h1></div>
<div id="key-points" style="margin-top: 5%;">
    <h1>Mern Stack <span><img src="https://cdn-icons-png.flaticon.com/128/11826/11826236.png" alt=""></span></h1>
    <h1>Data Structures & Algorithms <span><img src="https://ik.imagekit.io/sheryians/kodr/chad_idIwYgW6A.png" alt=""></span></h1>
    <h1>DBMS - SQL <span><img src="https://ik.imagekit.io/sheryians/kodr/swag_SlmSZ5u28P.png" alt=""></span></h1>
    <h1>CORE CS Subjects <span><img src="https://ik.imagekit.io/sheryians/kodr/gear_0FytxuYMLl.png" alt=""></span></h1>
    <h1>Placement Assistance <span><img src="https://ik.imagekit.io/sheryians/kodr/money_hwiAve2ra.png" alt=""></span></h1>
</div>
<div id="nonstop">
    <h1>Non-Stop</h1>
    <h1 style="color:rgb(35, 131, 142)">5 Hours</h1>
    <h1>Coding <span>[EveryDay]</span></h1>
    <p>Monday To Saturday. 11.00 AM to 4.00 PM</p>
</div>
<div id="dominate">
    <h1>Dominate.</h1>
    <h3>From Start to Victory</h3>
</div>
{% endblock body %}