{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Courses</title>
{% endblock title %}
{% block body %}

<p style="font-size: 70px;margin-top: 10%; margin-left:7%;">We're not a <span style="color: aqua;">Course<br>Factory</span></p>
<p style="font-size: 30px; margin-left: 7%;margin-top: 3%;">We focus on courses that really help.</p>
<p style="font-size: 20px; margin-top: 5%;margin-left: 7%;">Courses which do work &#8595;</p>
<div style="height: 400px;width: 100%;background-color: transparent;margin-top: 5%;"><div class="card" style="float: left;margin-left: 60px;color: white; background-color: rgba(44, 41, 41, 0.783);height: 400px;width:27%; float: left;">
    <img src="{% static 'pic1.webp' %}" style="width: 100%;" alt="Front-End Course" class="card-image">
    <h2 style="margin-left: 7%;">Front-End Domination: Create Anything with Code</h2>
    <div style="background-color: rgba(92, 87, 87, 0.959);width: 14%;margin-left: 7%;margin-top: 7%;"><p>HINDI</p></div>
    <p style="color: aqua;margin-left: 7%;margin-top: 15%;">Limited Time Period</p>
    <p style="margin-left: 7%;"> &#8377;4999 <span style="text-decoration: line-through;margin-left: 7%;color: rgba(92, 87, 87, 0.959) ;">&#8377;9999</span>
  <span style="background-color: aliceblue;color: black;margin-left: 30%;">50% OFF</span></p>
  </div>
  
  <div class="card" style="float: left;margin-left: 50px;color: white; background-color: rgba(44, 41, 41, 0.783);height: 400px;width:27%; float: left;">
      <img src="{% static 'pic2.webp' %}" style="width: 100%;" alt="Front-End Course" class="card-image">
      <h2 style="margin-left: 7%;">Back-End Domination: Create Efficient Back-End</h2>
      <div style="background-color: rgba(92, 87, 87, 0.959);width: 15%;margin-left: 7%;margin-top: 7%;"><p>HINDI</p></div>
      <p style="color: aqua;margin-left: 7%;margin-top: 15%;">Limited Time Period</p>
      <p style="margin-left: 7%;"> &#8377;5999 <span style="text-decoration: line-through;margin-left: 7%;color: rgba(92, 87, 87, 0.959) ;">&#8377;11999</span>
          <span style="background-color: aliceblue;color: black;margin-left: 30%;">50% OFF</span></p>
  </div>
    <div class="card" style="float: left;margin-left: 50px;color: white; background-color: rgba(44, 41, 41, 0.783);height: 400px;width:27%; float: left;">
      <img src="{% static 'pic3.webp' %}" style="width: 100%;" alt="Front-End Course" class="card-image">
      <h2 style="margin-left: 7%;">Apptitude & Reasoning for Campus Placement</h2>
      <div style="background-color: rgba(92, 87, 87, 0.959);width: 25%;margin-left: 7%;margin-top: 7%;"><p>HINGLISH</p></div>
      <p style="color: aqua;margin-left: 7%;margin-top: 15%;">Black Friday Sale</p>
      <p style="margin-left: 7%;"> &#8377;999 <span style="text-decoration: line-through;margin-left: 7%;color: rgba(92, 87, 87, 0.959) ;">&#8377;1499</span>
          <span style="background-color: aliceblue;color: black;margin-left: 30%;">33% OFF</span></p>
     
  </div></div>
  <div style="height: 30px;width: 100%;"><div style="float: left; margin-left: 6%;margin-top: 2%; width: 25%; background-color: aqua;text-align: center; height: 30px;font-size: 20px;"><a href="" style="text-decoration: none;color:black;">View Details</a></div>
  <div style="float: left; margin-left: 6%;margin-top: 2%; width: 25%; background-color: aqua;text-align: center; height: 30px;font-size: 20px;"><a href="" style="text-decoration: none;color:black;">View Details</a></div>
  <div style="float: left; margin-left: 6%;margin-top: 2%; width: 25%; background-color: aqua;text-align: center; height: 30px;font-size: 20px;"><a href="" style="text-decoration: none;color:black;">View Details</a></div>
</div>
<div style="height: 500px;width: 100%;background-color:transparent;"><div class="card" style="float: left;margin-left: 50px; margin-top: 5%;color: white; background-color: rgba(44, 41, 41, 0.783);height: 400px;width:27%; float: left;">
      <img src="{% static 'pic4.webp' %}" style="width: 100%;" alt="Front-End Course" class="card-image">
      <h2 style="margin-left: 7%;">Java & DSA Domination</h2>
      <div style="background-color: rgba(92, 87, 87, 0.959);width: 25%;margin-left: 7%;margin-top: 7%;"><p>HINGLISH</p></div>
      <p style="color: aqua;margin-left: 7%;margin-top: 15%;">Limited Day Discount</p>
      <p style="margin-left: 7%;"> &#8377;4999 <span style="text-decoration: line-through;margin-left: 7%;color: rgba(92, 87, 87, 0.959) ;">&#8377;9999</span>
          <span style="background-color: aliceblue;color: black;margin-left: 30%;">50% OFF</span></p>
     
  </div>
  <div class="card" style="margin-left: 50px; margin-top: 5%; color: white; background-color: rgba(44, 41, 41, 0.783);height: 400px;width:27%; float: left;">
      <img src="{% static 'pic5.webp' %}" style="width: 100%;" alt="Front-End Course" class="card-image">
      <h2 style="margin-left: 7%;">Three.js Domination</h2>
      <div style="background-color: rgba(92, 87, 87, 0.959);width: 15%;margin-left: 7%;margin-top: 7%;"><p>HINDI</p></div>
      <p style="color: aqua;margin-left: 7%;margin-top: 15%;">Black Friday Sale</p>
      <p style="margin-left: 7%;"> &#8377;2499 <span style="text-decoration: line-through;margin-left: 7%;color: rgba(92, 87, 87, 0.959) ;">&#8377;3500</span>
          <span style="background-color: aliceblue;color: black;margin-left: 30%;">29% OFF</span></p>
     
  </div>

  <div class="card" style="margin-left: 50px; margin-top: 5%; color: white; background-color:transparent;height: 400px;width:27%; float: left;">
      <!-- <img src="{% static 'pic5.webp' %}" style="width: 100%;" alt="Front-End Course" class="card-image">
      <h2 style="margin-left: 7%;">Three.js Domination</h2>
      <div style="background-color: rgba(92, 87, 87, 0.959);width: 15%;margin-left: 7%;margin-top: 7%;"><p>HINDI</p></div>
      <p style="color: aqua;margin-left: 7%;margin-top: 15%;">Black Friday Sale</p>
      <p style="margin-left: 7%;"> &#8377;2499 <span style="text-decoration: line-through;margin-left: 7%;color: rgba(92, 87, 87, 0.959) ;">&#8377;3500</span>
          <span style="background-color: aliceblue;color: black;margin-left: 30%;">29% OFF</span></p> -->
     
  </div></div>
  
  <div style="height: 60px;width: 100%;">
  <div style="float: left; margin-left: 5%;margin-top: 2%; width: 25%; background-color: aqua;text-align: center; height: 30px;font-size: 20px;"><a href="" style="text-decoration: none;color:black;">View Details</a></div>
  <div style="float: left; margin-left: 6%;margin-top: 2%; width: 25%; background-color: aqua;text-align: center; height: 30px;font-size: 20px;"><a href="" style="text-decoration: none;color:black;">View Details</a></div>
</div>


{% endblock body %}